@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";




@theme {
  /* Background images - correct */
  --background-image-custom-gradient: linear-gradient(to right, rgb(59 130 246), rgb(147 51 234));
  --background-image-custom-gradient-2: linear-gradient(to left, rgb(59 130 246), rgb(244 63 94));
  --background-image-card-gradient: linear-gradient(to right, rgb(56 178 172), rgb(66 153 225));

  /* Colors - correct */
  --color-navbar-color: rgb(255 255 255);
  --color-btn-color: rgb(51 100 247);
  --color-link-color: rgb(42 91 215);
  
  /* Box shadows - correct */
  --box-shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
  --box-shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);
  
  /* Font families - correct */
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
}


:root {
  --navbar-bg: rgb(255 255 255);
  --btn-primary: rgb(51 100 247);
  --link-primary: rgb(42 91 215);
}